body {
    font-family: "Alegreya Sans SC", serif;
    background-image: url("../images/concrete_seamless.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
}

/* #logo {
    display: flex;
    justify-content: center;
} */

header {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-self: stretch; */
}

/* nav {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-flow: wrap;
} */

.nav_links, a, .nav_links, a:visited{
    color: blue;
}

.card header {
    background-color: #288080;
    border: solid 2px #45ADAD;
    padding: 20px 0px;
    border-radius: 7px 7px 0px 0px;
}

.card {
    flex-basis: 450px;
}

.pricing {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* flex-basis: 450px; */
}

#image1, #image2, #image3, #image4, #image5 {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#logo{
    animation-name: grow;
    animation-duration: 5s;
}

@keyframes grow {
    from {
        width: 50px;
        opacity: 0;
    }
    to {
        width: 425px;
        opacity: 1;
    }
}

@media screen and (min-width: 850px) {
    .card {
        flex-basis: 250px;
    }
    header, .nav_links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex-flow: wrap;
        position:-webkit-sticky;
    }

}

@media print {
/* @media screen and (min-width: 1200px) { */
    .body {
        background-image: none;
    }
    /* nav, .nav_links {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    } */
    .pricing {
        /* align-self:flex-end; */
        align-items: flex-end;
    }
    .card {
        border: solid 2ps #45ADDD;
        flex-basis: 250px;
    }
    .gallery, #gallery {
        display: none;
    }
    .card li::before {
        content: "👍";
    }
}


@media all and (prefers-reduced-motion:reduce){
	img{
		animation: none;
		transition: none;
		box-sizing: border-box;
	}
}
